$spacing: 24px;
$max-width: 768px;
$toolbar-background-color: #7a8cf7;

.mf-shell {
  display: flex;
  flex-direction: column;

  .mf-toolbar {
    display: flex;
    justify-content: center;
    padding: 0 $spacing;
    background-color: $toolbar-background-color;

    &__title {
      font-weight: 500;
      font-size: 1.25rem;
    }
  }

  .mf-shell__content {
    max-width: $max-width;
    margin: $spacing auto;
    padding: 0 $spacing;
  }
}
