<div class="mf-validator">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mf-validator__form">
    <mat-card appearance="raised" class="mf-validator__card">
      <mat-form-field appearance="outline" class="mf-validator__field">
        <mat-label>Senha</mat-label>
        <input
          matInput
          type="text"
          formControlName="password"
          placeholder="Digite a senha"
        />
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Informe uma senha.
        </mat-error>
        <mat-error *ngIf="error()"> {{error()}} </mat-error>
        <div *ngIf="result()?.messages as messages">
          <mat-error *ngFor="let message of messages"> {{message}} </mat-error>
        </div>
        <div *ngIf="result()?.isValid">A senha foi validada com sucesso!</div>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="mf-validator__button"
        [disabled]="form.invalid || form.pending"
      >
        Validar senha
      </button>
    </mat-card>
  </form>
</div>
